@mixin avenir-light {
	font-family:'Avenir LT W01_35 Light1475496';
	font-weight: normal;
}

.avenir-light {
	@include avenir-light;
}

@mixin avenir-book {
	font-family:'Avenir LT W01_45 Book1475508';
	font-weight: normal;
}

.avenir-book {
	@include avenir-book;
}

@mixin avenir-roman {
	font-family:'Avenir LT W01_55 Roman1475520';
	font-weight: normal;
}

.avenir-roman {
	@include avenir-roman;
}

@mixin avenir-medium {
	font-family:'Avenir LT W01_65 Medium1475532';
	font-weight: normal;
}

.avenir-medium {
	@include avenir-medium;
}

@mixin avenir-black {
	font-family:'Avenir LT W01_95 Black1475556';
	font-weight: normal;
}

.avenir-black {
	@include avenir-black;
}






