@mixin avenir-light {
	font-family:'Avenir LT W01_35 Light';
	font-weight: normal;
}

.avenir-light {
	@include avenir-light;
}

@mixin avenir-book {
	font-family:'Avenir LT W01_45 Book';
	font-weight: normal;
}

.avenir-book {
	@include avenir-book;
}

@mixin avenir-roman {
	font-family:'Avenir LT W01_55 Roman';
	font-weight: normal;
}

.avenir-roman {
	@include avenir-roman;
}

@mixin avenir-medium {
	font-family:'Avenir LT W01_65 Medium';
	font-weight: normal;
}

.avenir-medium {
	@include avenir-medium;
}

@mixin avenir-black {
	font-family:'Avenir LT W01_95 Black';
	font-weight: normal;
}

.avenir-black {
	@include avenir-black;
}






