@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?v2qqus');
	src:url('fonts/icons.eot?#iefixv2qqus') format('embedded-opentype'),
		url('fonts/icons.woff?v2qqus') format('woff'),
		url('fonts/icons.ttf?v2qqus') format('truetype'),
		url('fonts/icons.svg?v2qqus#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e602";
}

.icon-rss:before {
	content: "\e603";
}

.icon-twitter:before {
	content: "\e605";
}

.icon-right:before {
	content: "\e604";
}

.icon-logo:before {
	content: "\e601";
}

.icon-arrow-left:before {
	content: "\e60c";
}

.icon-arrow-right:before {
	content: "\e60d";
}

.icon-caret-down:before {
	content: "\e600";
}

.icon-search:before {
	content: "\e609";
}

