@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-o0lnvm');
	src:url('fonts/icons.eot?#iefix-o0lnvm') format('embedded-opentype'),
		url('fonts/icons.woff?-o0lnvm') format('woff'),
		url('fonts/icons.ttf?-o0lnvm') format('truetype'),
		url('fonts/icons.svg?-o0lnvm#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
	content: "\e604";
}

.icon-facebook:before {
	content: "\e602";
}

.icon-twitter:before {
	content: "\e603";
}

.icon-youtube:before {
	content: "\e605";
}

.icon-logo:before {
	content: "\e601";
}

.icon-arrow-left:before {
	content: "\e60c";
}

.icon-arrow-right:before {
	content: "\e60d";
}

.icon-caret-down:before {
	content: "\e600";
}

.icon-search:before {
	content: "\e609";
}

