html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(15);
	line-height: 1.5;
	@include avenir-light;

	-webkit-font-smoothing: antialiased;
}

#tortilla {
	.header-fixed & {
		padding-top: 115px;

		@include device-width(7) {
			padding-top: 48px;	
		}
		
	}
}

/* =============================================================================
   Header Layouts
   ========================================================================== */

#header {
	background: #FFF;
	position: relative;
	width: 100%;
	z-index: 1040;
	@include transition(all 0.3s ease);
	padding: 2.5em 0;

	.logo-container {
		text-align: center;
		font-size: 0;

		.logo {
			color: #000;
			@include font-size(40);
			vertical-align: top;
			@include transition(all 0.3s ease);
			display: block;
			

			&:before {
				display: block;
				@include icon(logo);
				vertical-align: middle;
			}
		}
	}

	@include device-width(7) {
		@include transition(none);
			.logo {
				@include transition(none);
			}
	}

	.header-fixed & {
		position: fixed;
		top: 0;
		left: 0;		
		@include box-shadow(0 0px 10px rgba(0,0,0, 0.1));

		@include device-width(7) {
			padding: 1em;
			@include transition(none);

			.logo-container {
				@include transition(none);

				.logo {
					@include font-size(18);
					@include transition(none);

					&:before {
						@include transition(none);
						content: "\e606";
					}
				}			
			}			
		}
	}

	.header-fixed.admin-bar &{
		 top: 32px;
	}
}

#main {
	//margin-top: 3.5em;

	.subnav & {
		@include device-width(9) {
			padding-top: 48px;
		}
	}

	.subnav.header-fixed & {

		@include device-width(7) {
			padding-top: 43px;	
		}
		
	}
}

#footer {
	background: #FFF;
	padding: 3.5em 0;
	color: #696969;
	@include avenir-light;
	@include font-size(8.5);
	text-transform: uppercase;

	.container {
		padding: 0 3%;
	}

	span {
		display: block;
		letter-spacing: 2px;
		line-height: 1.6;	
	}

	.legal {
		width: 55%;
		float: left;

		span {
			&:first-child {
				@include avenir-medium;
				text-decoration: underline;
				margin-bottom: 1em;
			}
		}
	}

	.contact {
		width: 40%;
		float: right;		
		text-align: right;
	}

	@include device-width(9) {
		.legal, .contact  {
			width: 50%;
		}
	}

	@include device-width(6) {
		font-size: 7px;
	}	

	@include device-width(7) {
		font-size: 8px;

		.legal, .contact  {
			width: 100%;
		}

		.contact, .legal {
			text-align: center;
		}

		.contact {
			margin-top: 2em;
		}
	}
}