html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(15);
	line-height: 1.5;
	@include avenir-light;
}

#tortilla {

	.header-fixed & {
		padding-top: 115px;
	}

}

/* =============================================================================
   Header Layouts
   ========================================================================== */

#header {
	background: #FFF;
	height: 115px;
	position: relative;
	width: 100%;
	z-index: 1040;
	@include transition(all 0.3s ease);

	.logo-container {
		text-align: center;
		padding-top: 35px;

		.logo {
			color: #000;
			@include font-size(40);
			vertical-align: top;

			&:before {
				vertical-align: top;
			}
		}
	}

	.header-fixed & {
		position: fixed;
		top: 0;
		left: 0;
		height: 56px;
		@include box-shadow(0 0px 5px #3D3D3D);

		.logo-container {
			padding-top: 12px;

			.logo {
				@include font-size(30);
			}			
		}

	}
}

#main {
	//margin-top: 3.5em;
}

#footer {
	background: #f2f2f3;
	padding: 3.5em 0 6em;
	color: #58595b;
	@include avenir-light;
	@include font-size(8.5);
	text-transform: uppercase;

	span {
		display: block;
		letter-spacing: 2px;
		line-height: 1.6;	
	}

	.legal {
		width: 60%;
		float: left;

		span {
			&:first-child {
				@include avenir-medium;
				text-decoration: underline;
				margin-bottom: 1em;
			}
		}
	}

	.address, .contact {
		width: 20%;
		float: left;		
	}

	@include device-width(9) {
		.legal, .address, .contact  {
			width: 33%;
		}
	}

	@include device-width(6) {
		font-size: 7px;
	}	

	@include device-width(5) {
		font-size: 8px;

		.legal, .address  {
			width: 50%;
		}		

		.address {
			text-align: right;
		}

		.contact {
			width: 100%;
			margin-top: 1em;
			text-align: center;
		}
	}
}