.primary-navigation {
	position: fixed;
	width: 300px;
	height: 100%;
	right: -300px;
	z-index: 7500;
	top: 0;
	background: #000;
	@include transition(all 0.3s ease);

	ul.menu {
		margin-top: 8em;
		width: 100%;
	}

	li {
		width: 100%;
		text-align: center;
		margin: 1.6em 0;

		a {
			@include inline-block;
			@include font-size(20);
			text-transform: uppercase;
			color: #FFF;
			border-bottom: 2px solid transparent;
			letter-spacing: 2px;
			line-height: 1.4;

			&:hover {
				border-bottom: 2px solid #ff4d3b;
			}
		}

		&.current-menu-item {
			a {
				border-bottom: 2px solid #ff4d3b;
			}			
		}
	}

	.navigation-open & {
		right: 0px;
	}
}

#subnav {
	background: #d7d7d7;
	padding: 0 2.8em;
	position: absolute;
	width: 100%;
	bottom: -54px;

	ul {
		li {
			float: right;
			margin: 0 25px;
			border-bottom: 4px solid transparent;

			&.current_page_item {
				border-bottom: 4px solid #000;
			}

			&:first-child {
				margin-right: 0;
			}

			a {
				@include inline-block;
				@include avenir-light;
				@include font-size(16);
				text-transform: uppercase;
  				padding: 15px 0 11px;
  				letter-spacing: 2px;
			}
		}
	}

	@include device-width(8) {
		bottom: -37px;

		ul {
			li {
			  margin: 0 10px;

				a {
					padding: 11px 0 7px;
					@include font-size(10);

				}		
			}
		}
	}

	.header-fixed & {
		bottom: -37px;

		a {
			padding: 11px 0 7px;
			@include font-size(10);

		}
	}
}

.posts {
	padding: 2% 9%;
	@extend .clearfix;
	padding-bottom: 4em !important;

	li {
		float: left;
		width: 33%;
		padding: 0.59em 1%;

		&:nth-of-type(6n+1), &:nth-of-type(6n+5) {
			width: 66%;

			@include device-width(9) {
				width: 100%;
			}
		}

		&:nth-of-type(6n+4) {
			clear: left;

			@include device-width(9) {
				clear: none;
			}					
		}

		&:nth-of-type(6n+6) {
			margin-top: -258px;

			@include device-width(9) {
				margin-top: 0px;
			}				
		}
	}

	@include device-width(9) {
		padding: 4% 2%;
		
		li {
			width: 50%;	
		}
		
	}

	@include device-width(4) {
		li {
			width: 100%;	
		}
	}	
}

.post-item  {
	position: relative;
	text-align: left;

	.post-image {
		img {
			display: block;
		}
	}

	.post-title {
		position: absolute;
		bottom: 0em;
		background: rgba(#FFF, 0.9);
		z-index: 1;
		left: 0;
		width: 100%;
		padding: 1.5em;
		@include transition(all 0.3s ease);
		line-height: 1.5;
		text-transform: uppercase;

		&:after {
			@include icon(right);
			position: absolute;
			background: rgba(#FFF, 0.8);
			top: 0;
			right: 0;
			width: 4em;
			text-align: center;
			height: 100%;
			padding-top: 2em;			
		}		
		
		h2 {
			@include avenir-light;
			@include font-size(18);
			width: 80%;

			@include device-width(6) {
				@include font-size(14);
			}				
		}
	}

	&:hover {
		.post-title {
			padding: 1.5em 1.5em 3em;
		}
	}
}

.featured-carousel {
	.owl-item {
		overflow: hidden;

		.item {

			.title {
				@include translateX(200%);
				@include vertical-align;
				width: 100%;
				padding: 0 5%;
				z-index: 100;
				text-align: center;
				opacity: 0;
				top: 40%;

				h1 {
					color: #FFF;
					text-transform: uppercase;
					@include font-size(50);
					letter-spacing: 10px;
					@include avenir-light;
				}
			}			
		}

		
		&.active {
			.item {
				.title {
			 		@include transition(all 1.5s ease);
					@include translateX ( 0 ) ;
					opacity: 1;
				}
			}

		}
	}
}

.section-title {	
	width: 100%;
	text-align: center;
	margin: 1em 0 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	@include font-size(25);
}

#index {
	text-align: center;
	padding-bottom: 5em;
	
	.index-header {
		
		.index-title {
			background: #e3e3e3;
			@include font-size(60);
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			padding: 1.35em 0;
			@include transition(all 0.3s ease);

			@include device-width(9) {
				padding: .5em 0;
				@include font-size(30);

			}
		}
	}

	#navbelow {
		display: none;
	}	

	#next {
		margin: 1em auto;
	}
}

.filters {
	padding: 5em 9%;

	@include device-width(9) {
		padding: 5em 0;
	}

	.category-selector {
		@include device-width(6) {
			width: 50%;

			select {
				@include font-size(10);
				width: 140px;
			}
		}
	}

	.search-field {
		text-align:left;
		padding: 0;

		.input {
			@include avenir-black;	
			@include font-size(18);

		}

		@include device-width(6) {
			width: 50%;

			.input {
				@include font-size(10);
				width: 120px;

				&:focus {
					width: 120px;
				}
			}

			.submit-btn {
				padding: .7em 1em;
			}
		}			
	}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

#related {
	background: #f6f6f6;
	padding-top: 1em;

	.posts {
		max-width: 1500px;
		margin: 0 auto;
		
		li {
			width: 33%;

			@include device-width(8) {
				width: 50%;

				&:last-child {
					float: none;
					margin: 0 auto;
				}
			}

			@include device-width(4) {
				width: 100%;

				&:last-child {
					float: left;	
				}
			}			
		}
	}
}

.parallax-window {
    padding-top: 40%;
    background: transparent;
}

#content {
	
	.row {
		 @include background-size(cover);
	}

	.inner {
		max-width: 1280px;
		padding: 6.5em;

		@include device-width(7) {
			padding: 4em 1em;
		}

		@include device-width(5) {
			padding: 4em 1em;
		}	

		@include device-width(4) {
			padding: 2em 1em;
		}			
	}

	h1, h2, h3, h4, h5, h6 {
		@include avenir-book;
		letter-spacing: 10px;
	}

	p {
		@include avenir-light;
		@include font-size(18);
		line-height: 1.5;
		margin: 1em 0;

		@include device-width(10) {
			padding: 0 3em;			
		}

		@include device-width(6) {
			padding: 0 1em;			
		}			
	}

	ul {
		list-style: disc;
		padding-left: 1.2em;
	}		

	.textblock {
		padding: 0px 15%;

		@include device-width(10) {
			padding: 0;			
		}		
	}

	.uppercase {
		color: #000;
		letter-spacing: 2px;
		@include avenir-black;
	}
}

.post-gallery {
	.image {
		width: 50%;
		float: left;
		padding: 11px;

		&.full {
			width: 100%;
		}

		img {
			display: block;
		}
	}
}

#content {
	.row.family {
	 	background: #f6f6f6;
	 	padding-bottom: 6.5em;

	 	.section-title {
	 		padding: 2.9em 0;
	 		margin: 0;
 		  	letter-spacing: 5px;
	 	}

		ul.family {
			@extend .clearfix;
			list-style-type: none;
			padding: 0;

			li {
				width: 20%;
				float: left;
				position: relative;
				padding: .2em;

				@include device-width(10) {
					width: 25%;
				}

				@include device-width(8) {
					width: 33%;
				}				

				@include device-width(6) {
					width: 50%;
				}							

				img {
					display: block;
				}

				.post-title {
					position: absolute;
					bottom: 2em;
					right: .2em;
					width: 90%;
					background: rgba(#FFF, 0.9);
					padding: 15px;

					h2, p {
						color: #333132;
						@include font-size(16);
						text-transform: uppercase;
						letter-spacing: 1.3px !important;

						@include device-width(4) {
							@include font-size(11);
						}							
					}

					h2 {
						font-family:'Avenir LT W01_95 Black' !important;
					}

					p {
						@include avenir-book;
						padding: 0;
						margin: 0;
						line-height: 1;
					}
				}
			}
		}
	}

	.row.thumb-grid {

	 	.section-title {
	 		padding: 0 0 2.9em;
	 		margin: 0;
 		  	letter-spacing: 5px;
	 	}		

		ul {
			list-style-type: none;
			padding: 0;

			li {
				width: 20%;
				float: left;
				padding: 10px;

				img {
					display: block;
				}

				@include device-width(10) {
					width: 25%;
				}

				@include device-width(8) {
					width: 33%;
				}				

				@include device-width(6) {
					width: 50%;
				}								
			}
		}
	}
}
	