.primary-navigation {
	position: fixed;
	width: 200px;
	height: 100%;
	right: -300px;
	z-index: 7500;
	top: 0;
	background: #000;
	@include transition(all 0.3s ease);

	ul.menu {
		margin-top: 8em;
		width: 100%;
	}

	li {
		width: 100%;
		text-align: center;
		margin: 1em 0;

		a {
			@include inline-block;
			@include font-size(15);
			text-transform: uppercase;
			color: #FFF;
			border-bottom: 2px solid transparent;
			letter-spacing: 4px;
			line-height: 1.4;

			&:hover {
				border-bottom: 2px solid #FFF;
			}
		}

		&.current-menu-item, &.current-page-ancestor {
			a {
				border-bottom: 2px solid #FFF;
			}						
		}
	}

	.navigation-open & {
		@include transition-delay(.5s);
		right: 0px;
	}
}

.footer-navigation {
	ul {
		margin: 0;
		padding: 0;

		li {
			@include inline-block;
			margin-right: 35px;

			&:last-child {
				margin-right: 0;
			}


			a {
				@include avenir-light;
				@include font-size(10);
				color: #696969;
				letter-spacing: 2px;
			}
		}
	}
}

#subnav {
	background: #000;
	padding: 0 2.8em;
	position: absolute;
	width: 100%;
	bottom: -54px;
	text-align: center;

	ul {
		@include inline-block;

		li {
			float: left;
			margin: 0 25px;
			border-bottom: 4px solid transparent;

			&.current_page_item {
				border-bottom: 4px solid #000;
			}

			a {
				@include inline-block;
				@include avenir-light;
				@include font-size(12);
				text-transform: uppercase;
  				padding: 15px 0 11px;
  				letter-spacing: 2px;
  				color: #FFF;
			}
		}
	}

	@include device-width(8) {
		bottom: -37px;

		ul {
			li {
			  margin: 0 10px;

				a {
					padding: 11px 0 7px;
					@include font-size(10);

				}		
			}
		}
	}

	.header-fixed & {
		bottom: -48px;

		@include device-width(9) {
			bottom: -37px;			

			a {
				padding: 11px 0 7px;
				@include font-size(10);

			}			
		}
	}
}

.posts {
	padding: 2% 8%;
	@extend .clearfix;
	padding-bottom: 4em !important;

	li {
		float: left;
		width: 33.33%;
		padding: 0.48em 1%;

		&:nth-child(3n+1) {
			clear: left;
		}

	}

	@media (max-width: 850px) {
		padding: 4% 2%;
		
		li {
			width: 50%;	

			&:nth-child(3n+1) {
				clear: none;
			}			

			&:nth-child(2n+1) {
				clear: left;
			}			
		}
	}

	@include device-width(5) {
		li {
			width: 100%;	
		}
	}	
}

.post-item  {
	position: relative;
	text-align: left;

	.post-image {
		img {
			display: block;
		}
	}

	.post-title {
		position: absolute;
		bottom: 0em;
		background: #FFF;
		z-index: 1;
		left: 0;
		width: 100%;
		padding: 1em;
		@include transition(all 0.3s ease);
		line-height: 1.5;
		//text-transform: uppercase;
		min-height: 6em;

		&:after {
			@include icon(right);
			position: absolute;
			bottom: 0;
			right: 0;
			width: 5em;
			text-align: center;
			color: #d3d3d3;
			@include transition(all 0.5s ease-in-out);
			height: 30px;
		}		
		
		h2 {
			@include avenir-light;
			@include font-size(16);
			width: 80%;
		  	line-height: 1.4;
		  	color: #646363;
		  	min-height: 45px;

			@include device-width(6) {
				@include font-size(14);
			}				
		}

		.date {
			color: #cccccc;
			@include font-size(12);
			float: left;
			margin-top: 5px;
		}
	}

	&:hover {
		@include box-shadow(0px 0px 3px #eeeeee);

		.post-title {
			
			&:after {
				color: #ff5948;
			}
		}
	}
}

.featured-carousel {
	.owl-item {
		overflow: hidden;

		.item {

			.title {
				@include translateX(200%);
				@include vertical-align;
				width: 100%;
				padding: 0 5%;
				z-index: 100;
				text-align: center;
				opacity: 0;
				top: 40%;

				h1 {
					color: #FFF;
					text-transform: uppercase;
					@include font-size(50);
					letter-spacing: 10px;
					@include avenir-light;
				}
			}			
		}

		
		&.active {
			.item {
				.title {
			 		@include transition(all 1.5s ease);
					@include translateX ( 0 ) ;
					opacity: 1;
				}
			}

		}
	}
}

.section-title {	
	width: 100%;
	text-align: center;
	margin: 1.5em 0 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	@include font-size(22);
	@extend .clearfix;
}

#index, .front-news {
	background: #f9f9f9;
	text-align: center;
	padding-bottom: 5em;
	
	.index-header {
		
		.index-title {
			background: #e3e3e3;
			@include font-size(60);
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			padding: 1.35em 0;
			@include transition(all 0.3s ease);

			@include device-width(9) {
				padding: .5em 0;
				@include font-size(30);

			}
		}
	}

	#navbelow {
		display: none;
	}	

	#next {
		margin: 1em auto;
	}
}

#index {
	.year {
		display: block;
		width: 100%;
		@extend .clearfix;
		clear: left;
		@include avenir-medium;
		@include font-size(16);
		padding: 40px 0;
	}

	.search-field {
		position: absolute;
		right: 0;
		top: 69px;
	}
}

.search-field {
	text-align: right;
	padding: 0;

	.input {
		@include avenir-light;	
		@include font-size(12);
		background: none;

	}

	@include device-width(6) {
		width: 50%;

		.input {
			@include font-size(10);
			width: 120px;

			&:focus {
				width: 120px;
			}
		}

		.submit-btn {
			padding: .8em;
		}
	}			
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

#related {
	background: #f6f6f6;
	padding-top: 1em;

	.posts {
		max-width: 1500px;
		margin: 0 auto;
		padding: 2% 1%;
		
		li {
			width: 24.5%;
			margin: 0 .25%;

			&:nth-child(3n+1) {
				clear: none;
			}

			@include device-width(8) {
				width: 50%;

				&:last-child {
					float: none;
					margin: 0 auto;
				}
			}

			@include device-width(4) {
				width: 100%;

				&:last-child {
					float: left;	
				}
			}

			& {
				position: relative;
				float: left;
				overflow: hidden;
				text-align: center;
				cursor: pointer;
				padding: 0;

				img {
					display: block;
					max-width: none;
					width: -webkit-calc(100% + 50px);
					width: calc(100% + 50px);
					opacity: 1;
				}

				figcaption {
				
					> div {
						@include vertical-align;
						padding: 2em;
						width: 100%;
						height: auto;
						z-index: 100;
					}
				}

				h2,	p {
					color: #333132;
					text-align: center;
					opacity: 0;
				}	

				h2 {
					@include transition(all 0.5s);
					@include font-size(18);
					@include avenir-book;
					color: #333132;
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				p {
					color: rgba(255,255,255,0.8);
					@include font-size(18);
					@include transition(all 0.5s);
					@include avenir-light;
					color: #333132;
					margin: .5em 0;
				}	

				.icon-right {
					@include font-size(15);
					color: #ff5948;
					opacity: 0;
					@include transition(all 0.5s ease-in-out);
				}		

				&:hover {
					img, h2, p, .icon-right {
						@include transform(translate3d(0,0, 0));
						opacity: 1;
					}

					p {
						@include transition-delay(0.05s);
						@include transition-duration(.5s);
					}				
				}
			}

		}
	}
}

.parallax-window {
    padding-top: 50%;
    background: transparent;
}

#gmaps {
	@extend .clearfix;
}

#content {

	a {
		&:hover {
			text-decoration: underline;
		}
	}
	
	.row {
		 @include background-size(cover);
	}

	.inner {
		max-width: 1280px;
		padding: 3.5em 6em;

		@include device-width(7) {
			padding: 3em 1em;
		}

		@include device-width(5) {
			padding: 3em 1em;
		}	

		@include device-width(4) {
			padding: 2em 1em;
		}			
	}

	h1, h2, h3, h4, h5, h6 {
		@include avenir-light;
		letter-spacing: 10px;
	}

	h1 {
		@include font-size(35);

		@include device-width(9) {
			@include font-size(35);			
		}	
		
		@include device-width(6) {
			@include font-size(30);			
		}				
	}

	p {
		@include avenir-light;
		@include font-size(15);
		line-height: 1.9;
		margin: 1.5em 0;
		letter-spacing: 1px;

		@include device-width(10) {
			padding: 0 3em;			
		}

		@include device-width(6) {
			padding: 0 1em;			
		}			
	}

	ul {
		list-style: disc;
		padding-left: 1.2em;
	}		

	.textblock {
		padding: 0px 15%;

		@include device-width(10) {
			padding: 0;			
		}		
	}
}

.post-gallery {
	.image {
		width: 50%;
		float: left;
		padding: 11px;

		&.full {
			width: 100%;
		}

		img {
			display: block;
		}
	}
}

#content {
	.row.family {
	 	background: #FFF;
	 	padding-bottom: 6.5em;
	 	border-top: 1px solid #f2f2f2;

	 	&:last-child {
	 		border-bottom: none;
	 	}

	 	.section-title {
	 		padding: 2.9em 0;
	 		margin: 0;
 		  	letter-spacing: 5px;
	 	}

		ul.family {
			@extend .clearfix;
			list-style-type: none;
			padding: 0;
			text-align: center;

			li {
				width: 19%;
				@include inline-block;
				position: relative;
				padding: .2em;
				text-align: center;

				@include device-width(10) {
					width: 24%;
				}

				@include device-width(8) {
					width: 32%;
				}				

				@include device-width(6) {
					width: 49%;
				}							

				img {
					display: block;
					margin: 0 auto;
				}

				.post-title {
					width: 100%;
					padding: 28px 5px;
					min-height: 12em;

					h2 {
						color: #000;
						@include avenir-light;
						text-transform: none;
						@include font-size(18);
						letter-spacing: 1.3px;
					}

					p {
						color: #646363;
						@include font-size(14);
						@include avenir-light;
						line-height: 1.5;
						margin: 8px;
					}
				}
			}
		}
	}

	.row.clients {

	 	.section-title {
	 		padding: 0 0 1em;
 		  	letter-spacing: 5px;
	 	}		

		ul {
			list-style-type: none;
			padding: 0;
			@extend .clearfix;
			margin-bottom: 3em;
			text-align: center;

			li {
				width: 20%;
				@include inline-block;
				padding: 10px;
				text-align: center;

				&:nth-child(5n+1) {
					clear: left;
				}				

				img {
					@include inline-block;
				}

				@include device-width(10) {
					width: 25%;

					&:nth-child(5n+1) {
						clear: none;
					}	

					&:nth-child(4n+1) {
						clear: left;
					}										
				}

				@include device-width(8) {
					width: 33%;

					&:nth-child(5n+1) {
						clear: none;
					}	

					&:nth-child(4n+1) {
						clear: none;
					}	

					&:nth-child(3n+1) {
						clear: left;
					}											
				}				

				@include device-width(6) {
					width: 50%;

					&:nth-child(5n+1) {
						clear: none;
					}	

					&:nth-child(4n+1) {
						clear: none;
					}	

					&:nth-child(3n+1) {
						clear: none;
					}	
					
					&:nth-child(2n+1) {
						clear: left;
					}										
				}								
			}
		}
	}
}

.socials {
	padding: 0 3em;
	text-align: center;
  	margin: 50px 0 0 0;

	
	a {
		@include font-size(23);
		margin-right: 30px;
		color: #000002;
		@include transition(all 0.3s ease);

		&:last-child {
			margin: 0;
		}

		&:hover {
			text-decoration: none !important;

			&.icon-facebook {
				color: #44619D;
			}

			&.icon-twitter {
				color: #55ACEE;
			}

			&.icon-youtube {
				color: #cc181e;
			}						
		}
	}
}

.currentpage {
	position: absolute;
	right: 8em;
	top: 3em;
	text-transform: uppercase;
	@include font-size(15);
	@include avenir-light;
	letter-spacing: 2px;
	text-align: right;
	color: #c8c8c8;	
	@include transition(all 0.3s ease);
	max-width: 300px;

	@include device-width(11) {
		display: none;
	}

	.header-fixed & {
		top: 1.1em;
	}
}

#wowslider {
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	height: 100%;
	// 	width: 100%;
	// 	background-color: rgba(#000, 0.8);
	// 	background-image: url(../images/logos/crest.png);
	// 	background-position: center center;
	// 	background-repeat: no-repeat;
	// 	background-size: 30%;
	// 	@include transition(all 2s ease-in-out);
	// 	opacity: 1;

	// 	.loaded & {
	// 		@include transform(translate3d(-100%,0, 0));
	// 	}
	// }


}

.more-link, .less-link {
	display: block;
	width: 100%;
	text-align: center;
	@include avenir-light;
	@include font-size(15);
	margin-top: 35px;


}

#infscr-loading {
	@extend .clearfix;

	img {
		margin-top: 2em;		
	}
}