#works {
	background: #f7f7f7;

	.inner {
		max-width: 1400px;
		margin: 0 auto;		
	}

	ul.posts {
		padding: 1%;

		li {
			padding: .5%;
			width: 33.33%;

			&:nth-of-type(6n+6) {
				margin-top: 0;
			}

			@include device-width(9) {
				width: 50%;
			}

			@include device-width(4) {
				width: 100%;
			}			
		}
	}	

	.work-item {
		position: relative;
		float: left;
		overflow: hidden;
		text-align: center;
		cursor: pointer;

		img {
			display: block;
			max-width: 100%;
			opacity: 1;
		}

		figcaption {
		
			> div {
				@include vertical-align;
				padding: 2em;
				width: 100%;
				height: auto;
				z-index: 100;
			}
		}

		h2,	p {
			color: #333132;
			text-align: center;
			opacity: 0;
		}	

		h2 {
			@include transition(all 0.5s);
			@include font-size(18);
			@include avenir-book;
			color: #333132;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		p {
			color: rgba(255,255,255,0.8);
			@include font-size(18);
			@include transition(all 0.5s);
			@include avenir-light;
			color: #333132;
			margin: .5em 0;
		}	

		.icon-right {
			@include font-size(15);
			color: #ff5948;
			opacity: 0;
			@include transition(all 0.5s ease-in-out);
		}		

		&:hover {
			h2, p, .icon-right {
				@include transform(translate3d(0,0, 0));
				opacity: 1;
			}

			p {
				@include transition-delay(0.05s);
				@include transition-duration(.5s);
			}				
		}
	}
}

#single {
	.post-header {
		text-align: center;

		@include device-width(10) {
			padding: 0 2em;			
		}

		.post-title {
			text-transform: uppercase;
		}

		.subtitle {
			margin-top: -2.5em;

			@include device-width(7) {
				margin-top: -1.5em;
			}			


		}
	}
}

#single-work {

	h1 {
		  padding: 1.5em 0 .4em;
	}

	.subtitle {
		line-height: 1.4;
		margin-bottom: 2.5em;
	}
}

.page-contact {
	.page-content {
		.row:nth-child(1) {
			.uppercase-low {
				@include device-width(5) {
					@include font-size(15);
				}
			}
		}

		.row:nth-child(2) {

			.span {
				border-right: 1px solid #bfbfbf;

				&:last-child {
					border-right: none;					
				}

				@include device-width(8) {
					border-right: none;
					border-bottom: 1px solid #bfbfbf;

					&:last-child {
						border-bottom: none;					
					}
				}
			}
		}
	}
}

#error {
	margin-top: 10em;	
}

.page-about {
	.row {
		.break-on-tablet.span.five {
			@include device-width(10) {
				width: 100%;
			}
 		}
	}
}

.page-contact {

		.one-third {

			p {
				@include device-width(10) {
					padding: 0px 1em !important;
				}	

				@include device-width(8) {
				    padding: 0px 3em !important;
				}									
			}
		}

	.row {

		.email {
			@include device-width(9) {
			   @include font-size(12);
			}

			@include device-width(8) {
			    @include font-size(15); 
			}			
		}
	}
}